footer.footer {
    background-image: url(../images/footer-bg.svg);
    background-position: center top;
    background-size: cover;
    padding: 50px 0;
}

.footer .footer-list{
    list-style: none;
    color: #6b6b6b;
}

.footer .footer-list .footer-link{
    margin: 20px 0;
    cursor: pointer;
}

.footer .footer-list .footer-heading{
    color: #32d1d1;
    margin: 30px 0;
}

@media screen and (max-width: 767px) {
    .footer{
        text-align: center;
    }
}